<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>383303598664-l7vr1q3prupfomtmtmaqos8vt79a5881.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.383303598664-l7vr1q3prupfomtmtmaqos8vt79a5881</string>
	<key>API_KEY</key>
	<string>AIzaSyDAz3rOqOF7rmE4pjCznIPdVkb49QhV2RA</string>
	<key>GCM_SENDER_ID</key>
	<string>383303598664</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Liveb</string>
	<key>PROJECT_ID</key>
	<string>fir-app-3f29d</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-app-3f29d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:383303598664:ios:c5ffd220820dc723f8ce7d</string>
	<key>DATABASE_URL</key>
	<string>https://fir-app-3f29d.firebaseio.com</string>
</dict>
</plist>